<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary">

      </ion-menu-button>
      <ion-label>Contenido</ion-label>
    </ion-buttons>

    <!--
      con esto tenemos la funcionalidad de nuestro menu pero no es la forma sencilla
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
    -->


  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  
  

  <!--
  <ion-list>
    <ion-item [routerLink]="['/action-sheet']">
      <ion-icon slot="start" name="american-football-outline" color="primary"></ion-icon>
      Action-Sheet
    </ion-item>
    <ion-item [routerLink]="['/alert']">
      <ion-icon slot="start" name="alert-outline" color="primary"></ion-icon>
      Alert
    </ion-item>
  </ion-list>
  -->
</ion-content>
